# dependencies (bun install)
node_modules

# Source files (except prelude headers)
/src/*
!/src/prelude

# Test files
/test

# Scripts
/scripts

# Config files
.gitignore
tsconfig.json
bun.lockb

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Logs and temp files
*.log
*.tsbuildinfo
*.ninja
*.gch
codebase.md
coverage/
my-code/
prelude-build/
